<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HTBConnectionString" value="Data Source=localhost\deuexpress;Initial Catalog=HTB;User Id=ecp;Password=ecp" />
    <add key="startDate" value="" />
    <add key="endDate" value="" />
    <add key="testMode" value="True" />
    <add key="testKlientId" value="10488" />
    <add key="testAktId" value="22200" />
    <add key="outputFolderForTestPdf" value="c:\temp" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>