<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="HTBConnectionString" value="Data Source=.\sqlexpress;Initial Catalog=htb;User Id=ecp;Password=ecp" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="log4net.Config" value="log4net.config" />
  </appSettings>
</configuration>
