<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HTBConnectionString" value="Data Source=localhost\deuexpress;Initial Catalog=htb;User Id=ecp;Password=ecp" />
    <add key="DB2RoadsConnectionString" value="Database=HTBRTE;UserID=b.bitri;Password=13tetor77;Server=localhost:50000" />
    <add key="DB2Schema" value="" />
    <add key="Table" value="&quot;b.bitri&quot;.tblRoadInfox FETCH FIRST 10 ROWS ONLY" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
