<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HTBConnectionString" value="Data Source=localhost\sqlexpress;Initial Catalog=htb;User Id=ecp;Password=ecp"/>
    <add key="RoutePlannerManager_MaximumRoadsPerThread" value="3000"/>

    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\Temp\;"/>
    <add key="log4net.Config" value="log4net.config"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
